body {
    color: orange;
    text-align: left;
    font-family: 'Franklin Gothic Medium';
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}
.container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 5px solid lightblue;
    margin: 0 auto;
    background-color: white;
}

.container h1 {
    font-size: 24px;
}

.cabecera {
    background: #33a;
    height: 5%;
    color: white;
    font-weight: bold;
    margin: 0;
    text-align: left;
}